// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

#include "OK3568-C-common.dtsi"
#include "rk3568-linux.dtsi"
#include <dt-bindings/display/rockchip_vop.h>

&vp0 {
	cursor-win-id = <ROCKCHIP_VOP2_CLUSTER0>;
};

&vp1 {
	cursor-win-id = <ROCKCHIP_VOP2_CLUSTER1>;
};

&i2c2 {
        pcf8563_test: pcf8563@51 {
			compatible = "my,my8563";
			reg = <0x51>;
			#clock-cells = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&pcf8563_int>;
			interrupt-parent = <&gpio3>;
			interrupts = <RK_PB4 IRQ_TYPE_LEVEL_LOW>;
			status = "okay";
        };
		aht20@38 {
			compatible = "aosong,aht20";
			reg = <0x38>;
			status = "okay";
        };
};

&pinctrl {
	pcf8563 {
		pcf8563_int: pcf8563-int {
			rockchip,pins = <3 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
